<html>
<body>
    <div class="login">
       <h1>CAR PRICE PREDICTION</h1>
   
        <!-- Main Input For Receiving Query to our ML -->
       <form action="{{ url_for('predict_datapoint')}}" method="post">
         <input type="text" name="symboling" placeholder="symboling" required="required" /><br>
           <input type="text" name="carbody" placeholder="carbody" required="required" /><br>
           <input type="text" name="wheelbase" placeholder="wheelbase" required="required" /><br>
           <input type="text" name="carlength" placeholder="carlength" required="required" /><br>
           <input type="text" name="carwidth" placeholder="carwidth" required="required" /><br>
           <input type="text" name="carheight" placeholder="carheight" required="required" /><br>
           <input type="text" name="curbweight" placeholder="curbweight" required="required" /><br>
           <input type="text" name="enginetype" placeholder="enginetype" required="required" /><br>
           <input type="text" name="cylindernumber" placeholder="cylindernumber" required="required" /><br>
           <input type="text" name="enginesize" placeholder="enginesize" required="required" /><br>
           <input type="text" name="fuelsystem" placeholder="fuelsystem" required="required" /><br>
           <input type="text" name="boreratio" placeholder="boreratio" required="required" /><br>
           <input type="text" name="stroke" placeholder="stroke" required="required" /><br>
           <input type="text" name="compressionratio" placeholder="compressionratio" required="required" /><br>
           <input type="text" name="horsepower" placeholder="horsepower" required="required" /><br>
           <input type="text" name="peakrpm" placeholder="peakrpm" required="required" /><br>
           <input type="text" name="citympg" placeholder="citympg" required="required" /><br>
           <input type="text" name="highwaympg" placeholder="highwaympg" required="required" /><br>
           <input type="text" name="fueltype_diesel" placeholder="fueltype_diesel" required="required" /><br>
           <input type="text" name="fueltype_gas" placeholder="fueltype_gas" required="required" /><br>
           <input type="text" name="aspiration_std" placeholder="aspiration_std" required="required" /><br>
           
           <input type="text" name="aspiration_turbo" placeholder="aspiration_turbo" required="required" /><br>
           <input type="text" name="doornumber_four" placeholder="doornumber_four" required="required" /><br>
           <input type="text" name="doornumber_two" placeholder="doornumber_two" required="required" /><br>
           <input type="text" name="drivewheel_4wd" placeholder="drivewheel_4wd" required="required" /><br>
           <input type="text" name="drivewheel_fwd" placeholder="drivewheel_fwd" required="required" /><br>
           <input type="text" name="drivewheel_rwd" placeholder="drivewheel_rwd" required="required" /><br>
           <input type="text" name="enginelocation_front" placeholder="enginelocation_front" required="required" /><br>
           <input type="text" name="enginelocation_rear" placeholder="enginelocation_rear" required="required" /><br>




           <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
       </form>
    <h2>
       PRICE OF THE CAR IS {{result}}
    </h2>
   <body>
</html>